<div class="container" style=" margin-top: 10px">
  <div class="btn-group" role="group" aria-label="Basic example">
    <% Section.all.each do |section| %>
        <%= link_to section, menu_path(section: section), class: 'btn btn-secondary' %>
    <% end %>
  </div>
  <% @food_items.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.compact.each do |food_item| %>
            <div class="col-sm-4">
              <div class="card" style="margin-top: 10px">

                <%= image_tag food_item.image_url_or_default, alt: food_item.name, class: "card-img-top center-block image-format" %>
                <div class="card-block">
                  <h4 class="card-title">
                    <%= link_to food_item.name, food_item %>
                    <span class="label label-default"><%= food_item.orders.size %></span>
                  </h4>

                  <p class="card-text"><%= food_item.description %></p>

                  <%= link_to 'order', new_food_item_order_path(:food_item_id => food_item.id), class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
