<div class="container">
  <h3>
    <small>Order for: <i><%= @food_item.name %></i></small>
  </h3>
  <div class="row">
    <div class="col-sm-6">
      <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@order.errors.count, "error") %><br>
              Prohibited this Food Item order from being saved.
            </h2>
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= form_for [@food_item, Order.new] do |f| %>
          <fieldset class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :address %>
            <%= f.text_area :address, class: 'form-control' %>
          </fieldset>
          <%= f.submit 'submit order', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>