<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand <%= 'active' if current_page?(root_path) %>" href='<%= root_path %>'>Paradise Restaurant</a>
    <ul class="nav navbar-nav">
      <li class="nav-item <%= 'active' if current_page?(menu_path) %>">
        <%= link_to 'Menu', menu_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(contact_us_path) %>">
        <%= link_to 'Contact Us', contact_us_path, class: 'nav-link' %>
      </li>
    </ul>
    <!-- When submit the form, the view rendered will be the index view of our articles resource -->
    <%= form_tag(menu_path, :method => 'get', :style => "text-align: center;", class: 'form-inline pull-xs-right', id: 'search-form') do %>
        <div class='input-append'>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search Articles' %>
          <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
               of using a Rails form helper -->
          <button class="btn btn-success-outline" type="submit">Search</button>
        </div>
    <% end %>
  </nav>
</div>